body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('piww.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.main {
    padding-top: 50px;
    text-align: center;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.gallery-container {
    text-align: center;
    margin-top: 50px;
}

.gallery-item {
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.contact-info {
    margin-top: 50px;
    text-align: center;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social-links li a {
    color: #fff;
    font-size: 20px;
}

.footer {
    text-align: center;
    margin-top: 50px;
}